<h1>You have to login to access that page</h1>

<p>
  <%= link_to 'Login with GitHub', '/auth/github', class: 'btn btn-primary' %>
</p>
<small class='text-muted'>*Must be a member of the IPFS GitHub organization</small>
