<div class='cid mb-2'>
  <span class='cid'><%= link_to cid.cid, cid_path(cid.cid) %></span><br>
  <% if cid.content_type.present? %>
    <small class='text-muted'>
      <%= cid.content_type %>
      <% if cid.content_length.present? %>
        - <%= number_to_human_size cid.content_length %>
      <% end %>
    </small>
  <% end %>
</div>
