<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:without_boosters].present? || params[:without_storm].present? || params[:with_addresses].present? || params[:only_go_ipfs].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
  <div class="dropdown-menu">
    <% if params[:with_addresses].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, with_addresses: nil)) %>">
        With Addresses
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, with_addresses: 'true')) %>">
        With Addresses
      </a>
    <% end %>
  </div>
</li>
